<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
        <div style="margin-left: 30em;">
          <div>
            <% if(!user) {%>
              <div style="margin-left: 20em;flex-direction: row;">
                <form class="form-inline" method="get" action="/login">
                  <label for="Login"></label>
                  <button type="submit" style="background-color:#28a745;border-radius: 12%;width: 150px;">Login</button>
                </form>

                <form class="form-inline" method="get" action="/register">
                  <label for="Register"></label>
                  <button type="submit"
                    style="background-color:#28a745;border-radius: 12%;width: 150px;">Register</button>
                </form>
              </div>
              <% } else {%>

                <form style="margin-left: 10em;" action="/logout" method="POST">
                  <label for="logOut">Loggedin As :<%= user.email %></label>
                  <button style="margin-left:2em ;margin-top: 1em;" type="submite" name="logOut">Loggout</button>
                </form>
                <%}%>
          </div>
        </div>
  </nav>
</header>